:root {
    --background: #0B1419;
    --main-text: #F6F6F6;
    --sub-text: #999999;
    --main-blue: #74FBFC;
    --dark-grey: #32333D;
    --muted-white: #ECECEB;
    --box: #74FBFC;
}

.light-theme {
    --background: #F6F6F6;
    --main-text: #0B1419;
    --sub-text: #7C7D8B;
    --main-blue: #74FBFC;
    --dark-grey: #32333D;
    --muted-white: #ECECEB;
    --box: #32333D;
}

main {
    background-color: var(--background);
}

.title {
    color: var(--main-text);
}

.tab-group {
    border: .5px solid var(--dark-grey);
    border-radius: 3px;
}

.selection-tab-btn {
    color: var(--sub-text);
}

.selection-tab-btn:hover {
    background-color: var(--dark-grey);
}

.active {
    color: var(--main-blue);
    background-color: var(--dark-grey);
}

.add-btn {
    color: var(--dark-grey);
    background-color: var(--main-blue);
    border-radius: 3px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

h2 {
    font-size: 1.3rem;
    color: var(--sub-text);
}

.sub-text {
    color: var(--sub-text);
    font-size: 1rem;
    margin-top: 3px;
}

.theme-switch {
    display: flex;
    justify-content: space-between;
}

.avatar-con {
    border: .5px solid var(--box);
    background-color: var(--background);
}

.audio-con {
    color: var(--main-text);
    border: .5px solid var(--box);
    background-color: var(--background);
}

.upload-col {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media screen and (max-width: 1000px) {
    .upload-col {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

.upload-img input {
    width: 50%;
}

.theme-switch img {
    height: auto; 
    max-width: 3%;
}

.add-audio {
    height: 100vh;
    width: 100%;
    color: var(--main-text);
    background-color: var(--background);
}

.dark-font {
    color: var(--main-text);
}

select {
    color: var(--background);
    background-color: var(--main-text);
}